.custom-padding {
  padding: 8px;
}
.custom-title {
  font-size: 24px;
  padding: 0px;
  font-weight: bold;
}
.custom-button {
  font-size: 24px;
  font-weight: bold;
  padding-right: 128px;
  padding-left: 128px;
  color:brown;
}
.custom-box {
  border: 1px solid rgba(255, 0, 0, 0);
  border-radius: 8px;
  padding: 0px;
}

.duplicate-entry {
  background-color: #ff00002a;
}